body {
    background-color: #808e9b;
    height: 100vh;
}

header {
    text-align: center;
    padding: 0.2em 0;
    font-weight: bold;
}

header>* {
    margin-bottom: 10px;
}

h1 {font-size: 2em;}

h2 {font-size: 1.5em;}

section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    width: min(95vw, calc(100vh - 125px));
    height: min(95vw, calc(100vh - 125px));
}

section>div {
    display: flex;
    width: inherit;
    height: inherit;
    margin: 0 auto;
    justify-content: center;
}

section div div {
    aspect-ratio: 1;
}
section div:nth-child(odd) div.empty:nth-child(odd) {background-color: #05c46b;}
section div:nth-child(odd) div.empty:nth-child(even) {background-color: #4bcffa;}
section div:nth-child(even) div.empty:nth-child(odd) {background-color: #4bcffa;}
section div:nth-child(even) div.empty:nth-child(even) {background-color: #05c46b;}

.wall {
    background-color: #485460;
}

.fox::before,
.house::before {
    display: block;
    width: 100%;
    height: 100%;
}

.fox::before {
    content: '';
    background: url(../img/fox.svg);
}
.house::before {
    content: '';
    background: url(../img/house.svg);
}